.col-wrap {
	padding: 10px;
	position: relative;
	float:left;
	width: 220px;
}

.left-col {
	position: relative;
	float:left;
	width: 100px;
	background-color: #B1CEAB;
	min-height: 50px;
}

.right-col {
	position: relative;
	float:left;
	width: 100px;
	background-color: #B2A0BC;
	min-height: 50px;
}